#container{
    position: relative;
    width: 200px;
    height: 200px;
}
#main_image{
    width: 50%;
    height: 50%;
    
}
#overlay_image{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}